<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <div class="container" ngNativeValidate>
            <div *ngIf="!submitted">
                <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                <h4>Personal Details</h4>
                <!-- <div class="form-group">
                    <label for="booking_id">Booking_ID</label>
                    <input type="number" class="form-control" id="booking_id" required [(ngModel)]="booking.booking_id" name="booking_id" />
                </div> -->
                <!--  <div class="form-group">
                    <label for="departure_date">Departure Date</label>
                    <input type="date" class="form-control" id="departure_date" required [(ngModel)]="booking.departure_date" name="departure_date" />
                </div> -->
                <!-- <div class="form-group">
                    <label for="booking_date">Booking Date</label>
                    <input type="datetime-local" class="form-control" id="booking_date" required [(ngModel)]="booking.booking_date" name="booking_date" />
                </div> -->
                <!-- <div class="form-group" style="position: relative;top: -108px;right: -319px;">
                    <label for="flight_id">Flight</label>
                    <input type="number" class=" form-control " id="flight_id" required [(ngModel)]="flight.flight_id" name="flight_id" />
                </div> -->
                <div class="form-group">
                    <!-- <label for="passenger_id">Passenger id</label>
                    <input type="number" class="form-control" id="passenger_id" required [(ngModel)]="passenger.passenger_id" name="passenger_id" />
                    <hr> -->
                    <label for="passenger_name">Passenger Name
                    <input type="text" class="form-control" id="passenger_name"  [(ngModel)]="formData.Name"  required="required" minlength="4" [(ngModel)]="passenger.passenger_name" name="passenger_name" />
                    <div class="alert-danger" *ngIf="f.submitted && name.invalid">
                        <div *ngIf="name.errors?.['required']">Name is required</div>
                        <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters</div>
                        <div *ngIf="name.errors?.['maxlength']">Name must be at most 20 characters</div>
                    </div>
                </label>
                    <hr>
                    <label for="passenger_age">Age
                    <input type="number" class="form-control" id="passenger_ages" min="1" [(ngModel)]="formData.Age" required="required" [(ngModel)]="passenger.passenger_age" name="passenger_age" />
                    <div class="alert-danger" *ngIf="f.submitted && name.invalid">
                    </div>
                    <hr>
                </label>
                    <label for="passenger_gender">Gender
                    <select type="text" class="form-control" id="passenger_gender" required="required" [(ngModel)]="formData.Gender" minlength="4" [(ngModel)]="passenger.passenger_name" name="passenger_name">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    </select>
                    <div class="alert-danger" *ngIf="f.submitted && name.invalid">
                    </div>
                </label>
                    <hr>
                    
                </div><br><br>
                <div class="form-group1">
                    <label for="phoneno">Mobile No.
                <br>
                    <input type="tel" class="form-control" name="phone" id="passenger_phoneno" [(ngModel)]="formData.phone" required="required" minlength="8">
                </label>
                    <hr>

                    <label for="passenger_seat ">Passenger Seat
                     <!--<select *ngIf="flight_id==6001" [(ngModel)]="passenger.passenger_seat" class="form-control" id="passenger_seat" required="required" name="passenger_seat">-->
                    <select class="form-control" id="passenger_seat" required="required" [(ngModel)]="formData.Seat" name="passenger_seat">
                        <option vlaue="A-23">23</option>
                        <option vlaue="A-24">24</option>
                        <option vlaue="A-27">27</option>
                        <option vlaue="A-29">29</option>
                        <option vlaue="A-45">45</option>
                        <option vlaue="B-34">34</option>
                        <option vlaue="B-35">35</option>
                        <option vlaue="B-36">36</option>
                        <option vlaue="B-37">37</option>
                        <option vlaue="B-12">12</option>
                    </select>
                    <select *ngIf="flight_id==6002" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                            <option vlaue="A-01">01</option>
                            <option vlaue="A-02">02</option>
                            <option vlaue="A-34">34</option>
                            <option vlaue="A-29">29</option>
                            <option vlaue="A-37">37</option>
                            <option vlaue="A-43">43</option>
                            <option vlaue="A-44">44</option>
                            <option vlaue="B-12">12</option>
                            <option vlaue="B-13">13</option>
                            <option vlaue="B-14">14</option>
                    </select>
                    <select *ngIf="flight_id==7001" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                        <option vlaue="A-01">01</option>
                        <option vlaue="A-02">02</option>
                        <option vlaue="A-03">03</option>
                        <option vlaue="A-04">04</option>
                        <option vlaue="A-05">05</option>
                        <option vlaue="A-06">06</option>
                        <option vlaue="A-10">10</option>
                        <option vlaue="B-11">31</option>
                        <option vlaue="B-12">32</option>
                        <option vlaue="B-13">33</option>
                        <option vlaue="B-14">34</option>
                        <option vlaue="B-15">35</option>
                        <option vlaue="B-16">36</option>
                        <option vlaue="B-22">12</option>
                    </select>
                    <select *ngIf="flight_id==7002" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                        <option vlaue="A-23">01</option>
                        <option vlaue="A-24">02</option>
                        <option vlaue="A-27">34</option>
                        <option vlaue="B-36">12</option>
                        <option vlaue="B-37">13</option>
                        <option vlaue="B-12">14</option>
                    </select>
                    <select *ngIf="flight_id==7003" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                    <option vlaue="A-23">01</option>
                    <option vlaue="A-24">02</option>
                    <option vlaue="A-27">34</option>
                    <option vlaue="B-36">12</option>
                    <option vlaue="B-37">13</option>
                    <option vlaue="B-14">14</option>
                    <option vlaue="B-45">45</option>
                    <option vlaue="B-46">46</option>
                    <option vlaue="B-47">47</option>
                    </select>
                    <select *ngIf="flight_id==8001" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                        <option vlaue="A-23">01</option>
                        <option vlaue="A-24">02</option>
                        <option vlaue="A-27">34</option>
                        <option vlaue="B-36">12</option>
                        <option vlaue="B-37">13</option>
                        <option vlaue="B-43">01</option>
                        <option vlaue="B-44">02</option>
                        <option vlaue="B-46">14</option>
                        <option vlaue="B-50">28</option>
                    </select>
                    <select *ngIf="flight_id==9001" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                        <option vlaue="A-23">01</option>
                        <option vlaue="A-24">02</option>
                        <option vlaue="A-27">34</option>
                        <option vlaue="B-36">12</option>
                        <option vlaue="B-37">13</option>
                        <option vlaue="B-12">04</option>
                        <option vlaue="B-13">05</option>
                        <option vlaue="B-14">06</option>
                        <option vlaue="B-15">07</option>
                    </select>
                    <select *ngIf="flight_id==9002" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                        <option vlaue="A-23">01</option>
                        <option vlaue="A-24">02</option>
                        <option vlaue="A-27">34</option>
                        <option vlaue="B-36">12</option>
                        <option vlaue="B-37">13</option>
                        <option vlaue="B-01">46</option>
                        <option vlaue="B-02">32</option>
                        <option vlaue="B-03">23</option>
                        <option vlaue="B-04">54</option>
                    </select>
                    <select *ngIf="flight_id==9003" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                        <option vlaue="A-23">01</option>
                        <option vlaue="A-24">02</option>
                        <option vlaue="A-27">34</option>
                        <option vlaue="B-36">36</option>
                        <option vlaue="B-37">7</option>
                        <option vlaue="B-11">11</option>
                        <option vlaue="B-12">12</option>
                        <option vlaue="B-13">14</option>
                        <option vlaue="B-14">15</option>
                    </select>
                    <select *ngIf="flight_id==9004" class="form-control " id="passenger_seat" required="required" [(ngModel)]="passenger.passenger_seat" name="passenger_seat">
                        <option vlaue="A-23">01</option>
                        <option vlaue="A-24">02</option>
                        <option vlaue="A-27">34</option>
                        <option vlaue="B-36">12</option>
                        <option vlaue="B-37">13</option>
                        
                    </select></label>
                    <hr>
                    <!--  <label for="amount">Amount</label>
                    <input type="number" class="form-control " id="amount " required="required" [(ngModel)]="passenger.amount" name="amount" />

                    
                    <label for="flight_id">Flight Id
                        <br>
                            <input type="number" class="form-control" id="flight_id" [(ngModel)]=result name="flight_id" required disabled="">
                        </label>-->
                </div>

                    <br> <br>
                <div class="groupbtn">
                  <!-- <button class="btn1 " (click)="newPassenger()" onclick="" disabled>Add</button>-->
                    <br>
                <!-- <div class="form-group ">
                    <label for="otp ">OTP</label>
                    <input type="number " class="form-control " id="otp " required [(ngModel)]="booking.otp " name="otp " />
                </div> -->
                <br>
                <button (click)="saveBooking() " routerLink="/payment" class="btn2" *ngIf="passenger.passenger_age>9" >Book</button>
            </div>
            <div class="alert" style="position: absolute;color: #00ff38;font-size: larger;right: 269px;top: 15px;">
                {{message}}
            </div>
            </form>
        </div>
            </div>
        </div>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js ">

    </script>

</body>

</html>