<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flight Booking Admin Dashboard</title>
</head>

<body>
  <div class="dashboard">
    <div class="sidebar">
      <div class="navbar">
        <h4>Admin Dashboard</h4>
      </div>
      <nav>
        <a class="button" routerLink="/admin">Flights Center</a>
      </nav>
      <nav><a class="button" routerLink="/managequeries">Queries</a></nav>
      <nav><a class="button" routerLink="/manageusers">Users</a></nav>
    </div>
    <h2>Welcome To Admin Dashboard</h2>
  </div>
</body>

</html>
